# Ignorar arquivos do macOS
.DS_Store
.Trash/
.CFUserTextEncoding
.localized
.viminfo
.zprofile
.zsh_history
.zsh_sessions/
.atom/
.cups/
.vscode/
.lesshst

# Ignorar pastas pessoais
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/